<!--
<div class="container-fluid map-key">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <img src="images/map/signs.png">
            <input id="selectedTypes1" name="selectedTypes" type="checkbox" value="MESSAGE_SIGNS"><input type="hidden" name="_selectedTypes" value="on">
            Message Sign
        </div> 
        <div class="col-md-4 col-sm-6">
            <img src="images/map/roadwork.png">
            <input id="selectedTypes2" name="selectedTypes" type="checkbox" value="ROAD_WORKS">
            <input type="hidden" name="_selectedTypes" value="on">
            Road Works
        </div> 
        <div class="col-md-4 col-sm-6">
            <img src="images/map/event-med.png">
            <input id="selectedTypes3" name="selectedTypes" type="checkbox" value="EVENTS" >
            <input type="hidden" name="_selectedTypes" value="on">
            Event
        </div> 
    &lt;!&ndash; </div>
    <div class="row"> &ndash;&gt;
        <div class="col-md-4 col-sm-6">
            <img src="images/map/speed.png">
            <input id="selectedTypes4" name="selectedTypes" type="checkbox" value="CURRENT_SPEEDS">
            <input type="hidden" name="_selectedTypes" value="on">
            Current Speed
        </div> 
        <div class="col-md-4 col-sm-6">
            <img src="images/map/jt.png">
            <input id="selectedTypes8" name="selectedTypes" type="checkbox" value="JOURNEY_TIMES">
            <input type="hidden" name="_selectedTypes" value="on">
            Journey Time
        </div> 
        <div class="col-md-4 col-sm-6">
            <img src="images/map/cctv.png">
            <input id="selectedTypes6" name="selectedTypes" type="checkbox" value="CCTV_CAMERAS">
            <input type="hidden" name="_selectedTypes" value="on">
            CCTV Camera
        </div> 
        <div class="col-md-4 col-sm-6">
            <img src="images/map/incident-high.png">
            <input id="selectedTypes7" name="selectedTypes" type="checkbox" value="INCIDENTS" checked="checked">
            <input type="hidden" name="_selectedTypes" value="on">
            Incident
        </div> 
        <div class="col-md-4 col-sm-6">
            <img src="images/map/lowbridge.png">
            <input id="selectedTypes9" name="selectedTypes" type="checkbox" value="LOW_BRIDGES">
            <input type="hidden" name="_selectedTypes" value="on">
            Low Bridge
        </div> 
        <div class="col-md-4 col-sm-6">
            <img src="images/map/weightrestriction.png">
            <input id="selectedTypes5" name="selectedTypes" type="checkbox" value="WEIGHT_RESTRICTIONS"><input type="hidden" name="_selectedTypes" value="on">
            Weight Restriction
        </div> 
    </div>
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-8 col-sm-8">
            <form class="form-inline">
                <button type="button" class="form-control mb-2 mr-sm-2 btn btn-primary">
                    Refresh map now
                </button>
                <div class="form-check mb-2 mr-sm-2">
                    <input class="form-check-input" type="checkbox" name="automaticRefresh" id="group-1-one" id="automaticRefresh1" value="true" checked="checked">
                    <label class="form-check-label" for="group-1-one">
                        Refresh map automatically
                    </label>
                </div>
                <input type="hidden" name="_automaticRefresh" value="on">
            </form>
        </div>
        <div class="col-md-4 col-sm-4 align-middle">
            <a href="faq-map">Further Map Information</a>
        </div>
    </div>
</div>-->
