<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAO3afmWQdnoj_KY7izMnL83AEkbTQJ0K4"></script>
<div id="_map_WAR_twniportlet_INSTANCE_L2sK_Map" class="map" style="width: 100%; height: 560px; position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
    <img id="mainMap" src="images/example_map.png"></img>
</div></div>





<script type="text/javascript">jQuery(function(){new twni.MapKey("#_mapKey_WAR_twniportlet_INSTANCE_Eq9m8e1Kt06j_MapKey > form","http://trafficwatchni.com/travel-information-map?p_p_id=mapKey_WAR_twniportlet_INSTANCE_Eq9m8e1Kt06j&p_p_lifecycle=2&p_p_state=normal&p_p_mode=view&p_p_resource_id=mapKey&p_p_cacheability=cacheLevelPage&p_p_col_id=column-1&p_p_col_pos=2&p_p_col_count=3")});</script> 