<h4><a href="traffic-news#newsItem_1"><i class="fas fa-exclamation-triangle icon-warn-triangle"></i> General Traffic News <small class="text-muted">05/04/2018 16:57:15</small></a></h4>


<h4><a href="traffic-news#newsItem_2"><i class="fas fa-road icon-road"></i> Ballymena- A36 Church Rd Glenwherry Closed 12 March - 4 May <small class="text-muted">29/03/2018 13:59:33</small></a></h4>


<h4><a href="traffic-news#newsItem_3"><i class="fas fa-road icon-road"></i> M22 Contraflow at A6 Moneynick Road to April 2018 <small class="text-muted">28/03/2018 13:58:11</small></a></h4>


<h4><a href="traffic-news#newsItem_4"><i class="fas fa-road icon-road"></i> A6 Toome By-Pass Eastbound, Lane Closure, Continuously <small class="text-muted">22/03/2018 19:08:55</small></a></h4> 

