<h4><a href="traffic-news#newsItem_2"><img src="images/map/roadwork-low.png"> Ballymena- A36 Church Rd Glenwherry Closed 12 March - 4 May <small class="text-muted">29/03/2018 13:59:33</small></a></h4>


<h4><a href="traffic-news#newsItem_3"><img src="images/map/roadwork-high.png"> M22 Contraflow at A6 Moneynick Road to April 2018 <small class="text-muted">28/03/2018 13:58:11</small></a></h4>


<h4><a href="traffic-news#newsItem_4"><img src="images/map/roadwork-med.png"> A6 Toome By-Pass Eastbound, Lane Closure, Continuously <small class="text-muted">22/03/2018 19:08:55</small></a></h4> 

